a{
    text-decoration: none;
    margin: 4px;
    color: rgb(0, 0, 0);
    margin-top: 10px;
    margin-bottom: 0px;
    padding-inline: 15px; 
}
h1{
    margin-bottom: 0px;
    margin-top: 0px;
}
div{
    padding: 20px;
    background-color: hsl(201, 53%, 58%);
    display: flex;
}
fieldset{
 border-radius: 10px;
 border: 3px solid;
 width: 600px;
}
h2{
    background-color: rgb(239, 173, 225);
    padding-block: 1rem;
    text-shadow: 2px 3px 5px rgba(241, 54, 54, 0.646),-1px -2px 5px ;
    padding-left: 30px;
}
/* The below CSS is for images  */
.avatars {
    --avatar-count:10;
    --avatar-size:50px;
    --transition-duration: 500ms;
    --column-size:calc(var(--avatar-size) / 2);

    display: grid;
    grid-template-columns:repeat(10, var(--column-size));

    transition: grid-template-columns var(--transition-duration);
    transition-delay:var(--transition-duration) ;  
}

.avatars:hover,
.avatar:focus-within{
    --column-size:calc(var(--avatar-size) * 1.2);
    transition-delay: 0ms;
}

.avatar{
    width: var(--avatar-size);
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 100vw;
    border: 5px solid white;
    box-shadow: .25rem .25rem .5rem hsl(0 0% 0% / .2);

    transition: var(--transition-duration);
}

.avatar:hover,
.avatar:focus { 
        scale:1.6;  
        z-index: 2;  

}

@supports selector(:has(+ *)){
    .avatar:hover + .avatar, 
    .avatar:has(+ .avatar:hover){
        scale: 1.2;
        
    }
}